project:
  type: website
  output-dir: docs

website:
  title: "Emma Grace Getz"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About Me
      - href: portfolio.qmd
        text: Portfolio

format:
  html:
    theme:
      light: flatly
    css: styles.css
    toc: false
    include-after-body: footer.html